<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grain&Sugar</title>
        <link rel='shortcut icon'
        type='image/png'
        href='css/images/icon.png'/>
        <link rel='stylesheet'
        href='css/error.css'/>
        <link rel='stylesheet'
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    </head>
    <body>
        <div id="eroare">
            <h1>404</h1>
            <h2>Se pare ca te-ai pierdut...</h2>
            <h3><a href="home.html">Intoarce-te acasa!</a></h3>
        </div>
    </body>
</html>
