<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grain&Sugar</title>
        <link rel='shortcut icon'
        type='image/png'
        href='../public/css/images/icon.png'/>
        <link rel='stylesheet'
        href='../public/css/mainstyle.css'/>
        <link rel='stylesheet'
        href='../public/css/info.css'/>
        <link rel='stylesheet'
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    </head>
    <body>
        <header><h2>Informații</h2></header>
        <nav>
            <ul>
            <li><a href="home.html">Acasă</a></li>
            <li><a href="products.html">Produse</a></li>
            <li><a href="receipes.html">Rețete</a></li>   
           <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Info&Contact</a>
                <div class=" dropdowncontent">
                    <a href="info.html">Informații</a>
                    <a href="contact.html">Contact</a>
                </div>
                </li>
            </ul>
        </nav> <br>
        <a href="cos.html">
            <div class="cosul"></div>
            </a>
            <div class="imagine">
                <img src="../public/css/images/icon.png" alt="nu e" />
            </div>
            <table>
                <tr>
                    <th>Nume </th>
                    <td>Grain&Sugar</td>
                </tr>
                <tr>
                    <th>Adresă</th>
                    <td><a href="https://www.google.com/maps/place/Brutaria+Eldi/@46.7802397,23.6140807,15z/data=!4m2!3m1!1s0x0:0xa21a194311bd0f24?sa=X&hl=ro-RO&ved=2ahUKEwi687O5m83oAhVh_CoKHYJkBygQ_BIwGXoECBkQCA" target="blank">Strada Dâmboviței 47, Cluj-Napoca 4000</a></td>
                </tr>
                <tr>
                    <th>Număr de telefon</th>
                    <td>021.270.40.47</td>
                </tr>
                <tr>
                    <th>Fax</th>
                    <td>026.176.95.35</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>grain&sugar@myoutlook.com</td>
                </tr>
                <tr>
                    <th>Manager</th>
                    <td>Bogdan Ivanov</td>
                </tr>
                <tr>
                    <th>Număr telefon manager</th>
                    <td>0741.235.470</td>
                </tr>
                <tr>
                    <th>Pagina de facebook</th>
                    <td><a href="https://www.facebook.com/brutariaeldi.ro" target="blank"><button><b>Grain&Sugar</b></button></a></td>
                
            </table>
            <a class="goupbtn" href="#"><i class="fas fa-arrow-up"></i></a>
    </body>
</html>
