<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grain&Sugar</title>
        <link rel='shortcut icon'
        type='image/png'
        href='../public/css/images/icon.png'/>
        <link rel='stylesheet'
        href='../public/css/mainstyle.css'/>
        <link rel='stylesheet'
        href='../public/css/receipes.css'/>
        <link rel='stylesheet'
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    </head>
    <body>
        <header ><h2 class="titlul">Încercați și dumneavoastră!</h2></header>
        <nav>
            <ul>
            <li><a href="home.html">Acasă</a></li>
            <li><a href="products.html">Produse</a></li>
            <li><a href="receipes.html">Rețete</a></li>   
           <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Info&Contact</a>
                <div class=" dropdowncontent">
                    <a href="info.html">Informații</a>
                    <a href="contact.html">Contact</a>
                </div>
                </li>
            </ul>
        </nav> 
        <br><br><br>
        <a href="cos.html">
            <div class="cosul"></div>
            </a>
        <h1>Să bucătărim împreună!</h1> <br> <br>
        <p>Știm cu toții că cele mai gustoase preparate sunt făcute cu dragoste. Cu toate că ne punem dragostea și dăruirea în produsele noastre, nu exista sentiment mai sincer decât cel al familiei. Susținem gătitul în familie și în sprijinul acestei activități venim cu rețetele pentru unele dintre cele mai plăcute preparate ale noastre! Spor la bucătărit! </p>
        <div class="fila"></div> <br> 
        <audio controls  src="song.mp3">
        </audio>
        <p2>Puteți asculta această melodie între timp.</p2><br> <br><br>
        <p2>Lista retetelor noastre!</p2> <br><br>
        <div class="form">
            <form id="myform">
                Selectati tipul indicilor!<br><br><br>
                <label>Arab<input type="radio" name="font" id="ara" value="arab11"></label><br><br>
                <label>Roman litere mici<input type="radio" name="font" id="rom1" value="roman112"></label><br><br>
                <label>Roman litere mari<input type="radio" name="font" id="rom" value="roman11"></label><br><br>
                <button id="submi">Selecteaza!</button>
                
            </form>
        </div><br>
        <div id="arab">
            <h5>
                <ol>
                <li> Croissant cu unt</li>
                <li> Ștrudel cu vișine</li>
                <li> Chec tradițional</li>
                <li> Melc cu nucă</li>
                <li> Plăcintă cu urdă și stafide</li> 
                </ol>
               
            </h5>
        </div>
        <div id="roman">
            <h5>
                <ol type="I">
                <li> Croissant cu unt</li>
                <li> Ștrudel cu vișine</li>
                <li> Chec tradițional</li>
                <li> Melc cu nucă</li>
                <li> Plăcintă cu urdă și stafide</li> 
                </ol>
               
            </h5>
        </div>
        <div id="roman1">
            <h5>
                <ol type="i">
                <li> Croissant cu unt</li>
                <li> Ștrudel cu vișine</li>
                <li> Chec tradițional</li>
                <li> Melc cu nucă</li>
                <li> Plăcintă cu urdă și stafide</li> 
                </ol>
               
            </h5>
        </div>
        <br><br>
        <div id="msg">
            <span1 id="mesajul"></span1>
        </div>
        
        <br><br>
        <div class="favs">
            Adaugati la favorite!
            <img src="../public/css/images/star.png" alt="nu">
        </div><br><br>
        <div class="reteta">
        <h3>Croissant cu unt</h3>
        <img src="../public/css/images/croissant.jpg"
        alt="nu"/>
        <p1>Fragede și cu o aromă delicioasă de unt, croissantele sunt perfecte pentru a fi servite la micul dejun sau între mese, alături de cafea.</p1>
        <h4>Ingrediente : </h4>
        <ul>
            <li>250 g făina</li>
            <li>180 g unt moale</li>
            <li>30 g drojdie uscată</li>
            <li> 120 ml lapte cald</li>
            <li> 3 linguri zahăr</li>
            <li>1 praf de sare</li>
        </ul>
        <h4>Mod de preparare :</h4>
        <h6> Dizolvă drojdia în laptele caldut, împreună cu zahărul. Lasă amestecul pentru 5-10 minute. Amestecă 20 g de unt cu faina și sarea, apoi adaugă laptele treptat și amestecă. Trebuie să frămânți aluatul pentru 10-15 minute.
            Pe blatul presărat cu făină, întinde o foaie dreptunghiulară și așează untul rămas tăiat felii în centru și împăturește toate lateralele peste unt, ca un plic.
            Presară din nou făină pe blat, întoarce aluatul cu îmbinarile în jos și întinde o foaie dreptunghiulară. Împăturește din nou foaia, aducând cele 2 laterale către centru. Repetă procedura și dă aluatul împaturit la congelator pentru 15 minute, în folie de plastic.
            Pe blatul presărat cu făină, întinde iar aluatul și împăturește-l, apoi dă-l la frigider pentru o ora.
            După o oră, întinde pentru ultima oară o foaie dreptunghiulară și taie triunghiuri încât să folosești toată suprafața aluatului (jumătate din ele vor fi cu vârful în sus, cealaltă jumătate cu vârful în jos).
            Ia fiecare triunghi și rulează-l începând de la bază, din partea opusă vârfului ascuțit, până în capăt. Procedează la fel cu toate celelalte croissante, apoi lasă-le la crescut într-o tavă, pe foaie de copt. După ce și-au dublat volumul, unge-le cu cele doua galbenusuri bătute și dă-le la cuptor pentru 20-25 de minute la 180°, sau până când se rumenesc bine.</h6>
        </div>
            <div class="favorite" id="primap">
            <img id="prima" src="../public/css/images/notstar.png" alt="nu"/>
            <img id="primas" src="../public/css/images/star.png" alt="nu"/>
            </div>

        <div class="reteta">
            <h3>Ștrudel cu vișine</h3>
            <img src="../public/css/images/strudelvisine.jpg"
            alt="nu"/>
            <p1>Ștrudelul este în general un deșert simplu și delicios, dar pentru noi, parcă niciunul nu este mai bun decât cel cu vișine. Ne place combinația de dulce cu acrișor, precum și aromă de scorțișoară care întregește farmecul acestui deșert.</p1>
            <h4>Ingrediente : </h4>
            <ul>
                <li>un aluat de foietaj mic 400 g</li>
                <li>250 g de vişine fără sâmburi</li>
                <li>2 linguri de pesmet</li>
                <li> 4 linguri de zahăr brun sau alb</li>
                <li> 1/2 linguriţă de scorţişoară</li>
                <li>zahăr pudră vanilinat</li>
            </ul>
            <br> <br>
            <h4>Mod de preparare :</h4>
            <h6>Lasaţi aluatul să se dezgheţe bine conform instrucţiunilor de pe pachet. Eu l-am mai întins puţin cu sucitorul, pentru că l-am vrut mai subţire, dar acest pas nu e obligatoriu.
                Împărţim din ochi aluatul în 3 părţi egale pe lungime. Pe partea din mijloc vom aşeza fructele. Părţile laterale se taie în fâşii de 2-3 cm pe diagonală. Aşezăm vişinele pe mijlocul aluatului, le presărăm cu zahăr, pesmet şi scorţişoară, având grijă să repartizăm totul uniform. Pesmetul, pe care il puteţi înlocui cu biscuiţi mărunţiţi bine, are rolul de a absoarbi lichidul lăsat de fructe.
                Ridicăm capetele aluatului pentru a "sigila" ştrudelul, apoi începem să împletim fâşiile laterale peste umplutură. Mutăm ştrudelul în tava tapetată cu hârtie de copt şi îl băgăm în cuptorul care trebuie să fie în prealabil încins la 180 de grade.
                Cam în 20-25 de minute e rumenit, semn că e gata şi îl putem scoate din cuptor. Este aromat, dulce-acrişor şi se serveşte pudrat generos cu zahăr vanilat.</h6>
        </div>
        <div class="favorite" id="adouap">
            <img id="adoua" src="../public/css/images/notstar.png" alt="nu"/>
            <img id="adouas" src="../public/css/images/star.png" alt="nu"/>
        </div>
        <div class="reteta">
            <h3>Chec tradițional</h3>
            <img src="../public/css/images/chec.jpg"
            alt="nu"/>
            <p1>Checul pufos cu cacao este unul dintre deserturile preferate ale copilăriei. Prăjitura care îți amintește de mama.</p1>
            <h4>Ingrediente : </h4>
            <ul>
                <li>8 ouă</li>
                <li>500g zahăr                </li>
                <li>2 căni făină</li>
                <li>8 linguri ulei</li>
                <li> 8 linguri lapte</li>
                <li>2 plicuri zahăr vanilinat</li>
                <li>o linguriţă praf de copt</li>
                <li>coajă rasă de lămâie</li>
                <li>2 linguri cacao</li>
            </ul>
            <h4>Mod de preparare :</h4>
            <h6>Separăm gălbenuşurile de albuşuri şi batem albuşurile cu un praf de sare până obţinem o spumă tare. Adăugăm treptat zahărul şi zahărul vanilat şi mixam până se topeşte, scrie gustos.ro. Batem gălbenuşurile cu uleiul pus ca la maioneza, adăugăm laptele şi coaja de lămâie. Încorporăm gălbenuşurile în albuşuri, amestecând uşor cu o spatulă de jos în sus.Adăugăm treptat făina cernută şi amestecată cu praful de copt. Tapetăm două tăvi mari de cozonac cu hârtie de copt, punem compoziţia şi oprim 5-6 linguri în vas, peste care adăugăm cele două linguri cu cacao şi amestecăm până se omogenizează. Adăugăm compoziţia de cacao astfel obţinută în tăvi peste compoziţia de chec şi facem diferite forme cu furculiţa. Dăm tăvile la cuptorul preîncălzit la foc mediu pentru cca 40minute. Facem testul cu scobitoarea. Scoatem checul din tăvi şi îl presărăm cu zahăr pudră. </h6>
        </div>
        <div class="favorite" id="atreiap">
            <img id="atreia" src="../public/css/images/notstar.png" alt="nu"/>
            <img id="atreias" src="../public/css/images/star.png" alt="nu"/>
        </div>
        <div class="reteta">
            <h3>Melc cu nucă</h3>
            <img src="../public/css/images/melcnuca.jpg"
            alt="nu"/>
            <p1>Melcișori cu nucă rețeta vieneză de Nussschnecken. Acești melci cu nuca și unt se fac cu un aluat foietaj dospit, asemănător cu cel de croissant. Umplutura de nucă este generoasă și dulce, iar glazură este una acrișoară (gem de caise). Parcă ar fi însiropați.</p1>
            <h4>Ingrediente : </h4>
            <ul>
                <li>500 g faina</li>
                <li>250 ml apa calduta               </li>
                <li>1 plic drojdie uscat                </li>
                <li>4 linguri miere</li>
                <li>25 ml ulei sau 25 g margarina (sau unt)</li>
                <li>300 gr miez nuca pisat</li>
                <li>200 gr zahar</li>
            </ul><br>
            <h4>Mod de preparare :</h4>
            <h6>Dizolvăm pliculețul de drojdie în puțînă apă călduță, apoi adăugăm puțînă făină. Obținem o maia pe care o punem la dospit până își dublează volumul.
                Diluăm mierea în apă și adăugăm uleiul sau margarină topită. Dacă nu le faceți de post puteți adaugă unt în loc de margarină sau ulei. Adăugăm maiaua, omogenizam , apoi treptat punem făînă.
                Frământam până obținem un aluat omogen de consistentă plastelinei.Lăsăm la dospit până își dublează volumul apoi întindem o foaie pe care presăram miezul de nuca amestecat cu zahărul.
                Rulăm cât mai strâns că pe o ruladă și tăiem cu un cuțit foarte ascuțit rulouri aproximativ egale.Le ungem cu un sirop din apă și zahăr că să se rumeneasca frumos . Dacă nu țineți post le ungeti cu gălbenuș de ou bătut cu câteva linguri lapte. </h6>
        </div>
        <div class="favorite" id="apatrap">
            <img id="apatra" src="../public/css/images/notstar.png" alt="nu"/>
            <img id="apatras" src="../public/css/images/star.png" alt="nu"/>
        </div>
        <div class="reteta">
            <h3>Plăcintă cu urdă și stafide</h3>
            <img src="../public/css/images/placintaurda.jpg"
            alt="nu"/>
            <p1>Îţi plac prăjiturile cu brânză? Nu-i aşa că sunt delicioase? Încearcă şi această reţetă de foitaj cu urdă şi stafide!</p1>
            <h4>Ingrediente : </h4>
            <ul>
                <li>1 pachet aluat foitaj congelat</li>
                <li>500 g urdă</li>
                <li>5 linguri zahăr             </li>
                <li>3 pliculete zahar vanilinat</li>
                <li>5 ouă</li>
                <li>150 g stafide învelite în ciocolată</li>
                <li>o linguriţă praf de copt</li>
            </ul> <br>
            <h4>Mod de preparare :</h4>
            <h6>Aluatul se lasă la dezgheţat, apoi se împarte în două foi. Una dintre ele se aşaza în tavă de copt, tapetata în prealabil cu hârtie de copt, şi apoi se înţeapa cu ajutorul unei furculiţe.   Separat, se prepară umplutură: urdă se amestecă bine cu zahărul tos şi cel vanilat, 4 ouă şi stafidele învelite în ciocolată, pâna se obţine o compoziţie omogenă.  Amestecul astfel obţinut se toarnă peste foaia din tavă.  Peste compoziţie se aşaza a două foaie de aluat, care se crestează în patraţele cu ajutorul unui cuţit, apoi se unge cu un ou bătut.   Tavă se da la cuptorul preîncalzit, la 200°C, pentru aproximativ 20 de minute, pâna ce plăcintă se rumeneşte frumos pe deasupra.</h6>
        </div>
        <div class="favorite" id="acinceap">
            <img id="acincea" src="../public/css/images/notstar.png" alt="nu"/>
            <img id="acinceas" src="../public/css/images/star.png" alt="nu"/>
        </div><br><br>
        <div class="wrapper">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/T8aoM7yFVp4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <a class="goupbtn" href="#"><i class="fas fa-arrow-up"></i></a>
     </body>
     <script src="../public/js/receipes.js"></script>
</html>
